*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    background-color: darkgray;
    height: 300px;
    margin:0 auto;
}
nav{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 23, 0, 0.5);
}
.logo{
    width: 30%;
}
.navbar-links{
    width: 50%;
}
ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
ul li{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    list-style-type: none;
}
.logo h1{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: black;
}
li:hover{
transition: all .5s ease-in;
background-color: rgb(180, 35, 35);
}
.side-bar{
  text-align:left;  
  text-indent: 90px;
  font-size: 40px;
}
side h1{
    padding-top: 100px;
    margin-bottom: 100px;
    
}
p{
    width: 50%;
    height: 100%;
    margin-left: 50%;



}