*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: cornsilk;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
    
}
.hero{
    width:100%;
    background-color: rgb(99, 108, 126);
    height: 300px;
    
    
}
nav{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.logo{
    width: 30%;
    color:cornsilk
}
.navbar-links{
    width: 50%;
}
ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
ul li{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    list-style-type: none;
    
    
}
.logo h1{
    font-size: 70px;
}
a{
    text-decoration: none;
    color:cornsilk;
    
}
li:hover{
transition: all .5s ease-in;
background-color: rgb(11, 38, 15);
}
.about-me{
    width:100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about-me img{
    height: auto;
    width: 430px;
    
}
.about-me-text{
    width: 550px;
}
.main{
    width:1130px;
    max-width: width 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.work{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.work img{
    height: auto;
    width: 430px;
    
}
.contact-me{
    width:100%;
    padding: 100px 0px;
    background-color: #191919;
}   


.contact-me-text{
    width: 550px;
}
.contact-me-main{
    display: flex;
    justify-content: center;
    
}
.resume{
    background-color: #191919;
}
footer{
    background-color: #191919;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width: 992px){
    .hero{
        background-color: rgb(152, 6, 6);
    }
}
@media screen and (max-width: 768px){
    .hero{
        background-color: rgb(0, 135, 25);
    }
    }

